@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.fireball{
    position: absolute;
    bottom: 0;
    width: 180px;
    right: -280px;
    animation: fireball-animation 5s infinite linear;
}

.personagem{
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.scenario{
    width: 1480px;
    animation: scenario-animation 10s infinite linear;
}

.clouds{
    width: 1480px;
    height: 300px;
    position: absolute;
    top: 0%;
    animation: clouds-animation 20s infinite linear;
    
}

@keyframes clouds-animation {
    from{
        left: -100%;
    }
    to{
        left: 100%;
    }
}

@keyframes fireball-animation {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
    
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50%{
        bottom: 280px;
    }
    100%{
        bottom: 0;
    }
    
}

@keyframes scenario-animation{
    from{
        right: -100%;
    }
    to {
        right: 100%;
    }
}